html {background: transparent url('../images/fondo_nubes.fw.png') no-repeat center top; background-attachment: scroll;}
#imGroup_1 { float: left; }
#imGroup_1 > div { float: left; }
#imGroup_2 > div { float: left; }
#imCell_3 { display: block; position: relative; overflow: hidden; }
#imCellStyle_3 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_3 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imTextObject_3 { font-style: normal; font-weight: normal; line-height: 20px;; }
#imTextObject_3_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imTextObject_3_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imTextObject_3_tab0 ul ul ul { list-style: circle; }
#imTextObject_3_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_3_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imTextObject_3_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imTextObject_3_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_3_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imTextObject_3_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imTextObject_3_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imTextObject_3_tab0 p { margin: 0; padding: 0; }
#imTextObject_3_tab0 .inline-block { display: inline-block; }
#imTextObject_3_tab0 sup { vertical-align: super; font-size: smaller; }
#imTextObject_3_tab0 sub { vertical-align: sub; font-size: smaller; }
#imTextObject_3_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imTextObject_3_tab0 .fleft { float: left; vertical-align: baseline;}
#imTextObject_3_tab0 .fright { float: right; vertical-align: baseline;}
#imTextObject_3_tab0 img.fleft { margin-right: 15px; }
#imTextObject_3_tab0 img.fright { margin-left: 15px; }
#imTextObject_3_tab0 .imUl { text-decoration: underline; }
#imTextObject_3_tab0 .imVt { vertical-align: top; }
#imTextObject_3_tab0 .imVc { vertical-align: middle; }
#imTextObject_3_tab0 .imVb { vertical-align: bottom; }
#imTextObject_3_tab0 .fs22 { vertical-align: baseline; font-size: 22pt;line-height: 36px; }
#imTextObject_3_tab0 .cf1 { color: rgb(2, 100, 150); }
#imTextObject_3_tab0 .ff1 { font-family: 'Verdana'; }
#imTextObject_3_tab0 .fs12 { vertical-align: baseline; font-size: 12pt;line-height: 23px; }
#imTextObject_3_tab0 .cf2 { color: rgb(64, 64, 64); }
#imTextObject_3 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
#imTextObject_3 .text-container {margin: 0 auto; position: relative; overflow: hidden;  background-color: #FFFFFF;  }
#imTextObject_3 .text-container {height: 268px; }
#imGroup_5 > div { float: left; }
#imGroup_9 > div { float: left; }
#imCell_5 { display: block; position: relative; overflow: hidden; }
#imCellStyle_5 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_5 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
.imObjectForm_5_tip { position: absolute; right: 10px; width: 20px; }
#imObjectForm_5 { position: relative; width: 100%; margin: 0; padding: 0; text-align: left; font-family: Arial, sans serif; font-size: 10pt; text-align: left; }
#imObjectForm_5 label, #imObjectForm_5 .checkbox, #imObjectForm_5 .radiobutton { color: #808080; font-family: Arial, sans serif; font-size: 10pt; -webkit-text-size-adjust: 100%; }
#imObjectForm_5 label { text-align: left; padding-top: 2px; }
#imObjectForm_5 fieldset { margin: 0; padding: 8px 0 0 0; }
#imObjectForm_5 fieldset.first { margin: 0; padding: 0; }
#imObjectForm_5 div.legend { margin-bottom: 8px; font-family: Arial, sans serif; font-size: 10pt;}
#imObjectForm_5 input[type=text], #imObjectForm_5 input[type=password], #imObjectForm_5 input[type=file], #imObjectForm_5 select, #imObjectForm_5 textarea { resize: none; margin: 2px 0 3px; color: #808080; border: 1px solid #A9A9A9; background-color: #EEEEEE; font-family: Arial, sans serif; font-size: 10pt; padding-left: 3px; padding-right: 3px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; box-shadow: none; }
#imObjectForm_5 input[type="checkbox"], #imObjectForm_5 input[type="radio"] { border: 0; background-color: transparent; }
#imObjectForm_5 input.imFormFocus, #imObjectForm_5 select.imFormFocus, #imObjectForm_5 textarea.imFormFocus { color: #808080; background-color: #FFFFE0; }
#imObjectForm_5 input[type="checkbox"].imFormFocus, #imObjectForm_5 input[type="radio"].imFormFocus { border: 0; background-color: transparent; }
#imObjectForm_5 input.imFormMark, #imObjectForm_5 textarea.imFormMark, #imObjectForm_5 select.imFormMark { border: 1px solid #FF0000; }
#imObjectForm_5 input[type="submit"], #imObjectForm_5 input[type="reset"], #imObjectForm_5 input[type="button"], #imObjectForm_5_next, #imObjectForm_5_prev, #imObjectForm_5_submit, #imObjectForm_5_reset {cursor: pointer;color: #000000; border: 1px solid #C0C0C0; background: #FFFFFF url('../images/enviarrr.fw.png') no-repeat center top;;font-family: Arial, sans serif;font-size: 10pt;font-weight: normal;font-style: normal; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;height: 30px; min-width: 1100px;padding: 0; margin-left: 0; }
#imObjectForm_5_prot { display: none; }
#imObjectForm_5_buttonswrap { text-align: center; box-sizing: border-box; width: 100%; }
.imObjectFormFieldContainer { float: left; box-sizing: border-box; margin: 0; padding-top: 0; padding-left: 0; padding-bottom: 2px; }
.imObjectFormAgreementCheckboxWrapper { display: block; }
.imObjectFormAgreementCheckbox { margin-right: 5px; vertical-align: middle; }
.checkbox-input, .checkbox-label, .radio-input, .radio-label { vertical-align: middle; }
.radio-input { margin-top: 0; }
#imObjectForm_5_1_container { position: relative; width: 50%; padding-right: 10px; clear: left; }
#imObjectForm_5_1_label { box-sizing: border-box; width: 100%; vertical-align: top; display: inline-block; margin: 3px 0 2px; padding-left: 0px; padding-right: 0; }
#imObjectForm_5_1_field { float: left; box-sizing: border-box; width: 100%; vertical-align: top; padding-top: 2px; padding-bottom: 2px; }
#imObjectForm_5_1 { box-sizing: border-box; width: 100%; }
#imObjectForm_5_2_container { position: relative; width: 50%; padding-right: 10px; }
#imObjectForm_5_2_label { box-sizing: border-box; width: 100%; vertical-align: top; display: inline-block; margin: 3px 0 2px; padding-left: 0px; padding-right: 0; }
#imObjectForm_5_2_field { float: left; box-sizing: border-box; width: 100%; vertical-align: top; padding-top: 2px; padding-bottom: 2px; }
#imObjectForm_5_2 { box-sizing: border-box; width: 100%; }
#imObjectForm_5_3_container { position: relative; width: 50%; padding-right: 10px; clear: left; }
#imObjectForm_5_3_label { box-sizing: border-box; width: 100%; vertical-align: top; display: inline-block; margin: 3px 0 2px; padding-left: 0px; padding-right: 0; }
#imObjectForm_5_3_field { float: left; box-sizing: border-box; width: 100%; vertical-align: top; padding-top: 2px; padding-bottom: 2px; }
#imObjectForm_5_3 { box-sizing: border-box; width: 100%; }
#imObjectForm_5_4_container { position: relative; width: 50%; padding-right: 10px; }
#imObjectForm_5_4_label { box-sizing: border-box; width: 100%; vertical-align: top; display: inline-block; margin: 3px 0 2px; padding-left: 0px; padding-right: 0; }
#imObjectForm_5_4_field { float: left; box-sizing: border-box; width: 100%; vertical-align: top; padding-top: 2px; padding-bottom: 2px; }
#imObjectForm_5_4 { box-sizing: border-box; width: 100%; }
#imObjectForm_5_5_container { position: relative; width: 100%; padding-right: 10px; clear: left; }
#imObjectForm_5_5_label { box-sizing: border-box; width: 100%; vertical-align: top; display: inline-block; margin: 3px 0 2px; padding-left: 0px; padding-right: 0; }
#imObjectForm_5_5_field { float: left; box-sizing: border-box; width: 100%; vertical-align: top; padding-top: 2px; padding-bottom: 2px; }
#imObjectForm_5_5 { box-sizing: border-box; width: 100%; height: 90px; }
#imGroup_12 > div { float: left; }
#imCell_6 { display: block; position: relative; overflow: hidden; }
#imCellStyle_6 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_6 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectMap_6_frame { width: 100%; height:200px; max-width: 600px; margin: 0 auto; }
#imCell_7 { display: block; position: relative; overflow: hidden; }
#imCellStyle_7 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_7 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectMap_7_frame { width: 100%; height:200px; max-width: 600px; margin: 0 auto; }
#imGroup_1 { width: 1344px; }
#imGroup_2 { width: 1344px; }
#imGroup_3 { width: 108px; height: 280px; }
#imCell_3 { width: 1122px; min-height: 274px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
#imCellStyle_3 { width: 1122px; min-height: 274px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
#imCellStyleGraphics_3 { left: 3px; right: 3px; }
#imGroup_4 { width: 108px; height: 280px; }
#imGroup_5 { width: 1344px; }
#imGroup_6 { width: 108px; height: 15px; }
#imGroup_7 { width: 1128px; height: 15px; }
#imGroup_8 { width: 108px; height: 15px; }
#imGroup_9 { width: 1344px; }
#imGroup_10 { width: 108px; height: 314px; }
#imCell_5 { width: 1122px; min-height: 308px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
#imCellStyle_5 { width: 1122px; min-height: 308px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
#imCellStyleGraphics_5 { left: 3px; right: 3px; }
#imGroup_11 { width: 108px; height: 314px; }
#imGroup_12 { width: 1344px; }
#imGroup_13 { width: 108px; height: 215px; }
#imCell_6 { width: 558px; min-height: 209px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
#imCellStyle_6 { width: 558px; min-height: 209px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
#imCellStyleGraphics_6 { left: 3px; right: 3px; }
#imCell_7 { width: 558px; min-height: 209px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
#imCellStyle_7 { width: 558px; min-height: 209px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
#imCellStyleGraphics_7 { left: 3px; right: 3px; }
#imGroup_14 { width: 108px; height: 215px; }
#imGroup_15 { width: 1344px; height: 15px; }
#imGroup_16 { width: 1344px; height: 0px; }
